<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
      <div class="row">
        <div class="col-xs-12">
          <button [disabled]="!recipeForm.valid" class="btn btn-success" type="submit">Save</button>
          <button (click)="onCancel()" class="btn btn-danger" type="button">Cancel</button>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input #name formControlName="name" class="form-control" type="text" id="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="imagePath.value" [alt]="name.value" [ngStyle]="{maxHeight: '300px'}">
        </div>
      </div>
      <hr *ngIf="recipeForm.get('imagePath').value">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input #imagePath formControlName="imagePath" class="form-control" type="text" id="imagePath">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea formControlName="description" class="form-control" rows="6" id="description"></textarea>
          </div>
        </div>
      </div>
      <div formArrayName="ingredients" class="row">
        <div class="col-xs-12">
          <div
            *ngFor="let ingredientControl of getIngredients(recipeForm); let i = index" 
            [formGroupName]="i" class="row">
            <div class="col-xs-8">
              <div class="form-group">
                <input formControlName="name" class="form-control" type="text">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="form-group">
                <input formControlName="amount" class="form-control" type="number">
              </div>
            </div>
            <div class="col-xs-2">
              <button (click)="onDeleteIngredient(i)" class="btn btn-danger" type="button">X</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button (click)="onAddIngredient()" type="button" class="btn btn-success">Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>