<div class="row">
  <div class="col-xs-12">
    <img [ngStyle]="{maxHeight: '300px'}" [src]="recipe.imagePath" class="img-responsive" [alt]="recipe.name">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- Split button -->
    <div class="btn-group" appDropdown>
    <!--<div class="btn-group">-->
      <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="true">
    Manage
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="addIngredientsToShoppingList()" [ngStyle]="{cursor: 'pointer'}">Add to shopping list</a></li>
        <ng-template [ngIf]="authService.isAuthenticated()">
          <li><a (click)="onEditRecipe()" [ngStyle]="{cursor: 'pointer'}">Edit</a></li>
          <li><a (click)="onDeleteRecipe()" [ngStyle]="{cursor: 'pointer'}">Delete</a></li>
        </ng-template>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{recipe.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
        {{ingredient.name}} ({{ingredient.amount}})
      </li>
    </ul>
  </div>
</div>