<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
            <a class="navbar-brand" routerLink="/">Recipe Book</a>
        </div>
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
        <div>
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
                <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <ng-template [ngIf]="!authService.isAuthenticated()">
                    <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
                    <li routerLinkActive="active"><a routerLink="/register">Register</a></li>
                </ng-template>
                <ng-template [ngIf]="authService.isAuthenticated()">
                    <li appDropdown class="dropdown">
                    <!--<li class="dropdown">-->
                        <a [ngStyle]="{cursor: 'pointer'}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a (click)="onSaveData()" [ngStyle]="{cursor: 'pointer'}">Save Data</a></li>
                            <li><a (click)="onFetchData()" [ngStyle]="{cursor: 'pointer'}">Fetch Data</a></li>
                        </ul>
                    </li>
                </ng-template>
                <li><a *ngIf="authService.isAuthenticated()" [ngStyle]="{cursor: 'pointer'}" (click)="onLogout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>